{% layout none %}
<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 modern no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js modern"> <!--<![endif]-->
<head>

  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  {% if settings.favicon_enable %}
  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  {% endif %}

  <!-- Title and description ================================================== -->
  <title>
    {{ shop.name }}
  </title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <!-- Product meta ================================================== -->
  {% include 'open-graph-tags' %}

  <!-- Helpers ================================================== -->
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- CSS ================================================== -->
  {{ 'timber.scss.css' | asset_url | stylesheet_tag }}

  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}

  {% include 'oldIE-js' %}

  {% comment %}
    Theme dependent JS is loaded at the very bottom of this file for performance reasons.
    However, jQuery is included here so that it can be used inside the templates, e.g. in product.liquid.
  {% endcomment %}
  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
  {{ 'modernizr.min.js' | asset_url | script_tag }}
  <script src="https://use.typekit.net/ddi3zmt.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>

</head>
<body class="template-password">
<style type="text/css">
  .password-page__wrapper {
    max-width: 30em;
    margin: 2em auto 0;
    text-align: center;
    background-color: #fff;
    padding:  1em 2em;
  }
  .template-password {
    height: 100%;
    min-height: 100%;
    background-color: #DCF1F3;
    background-image: url(https://cdn.shopify.com/s/files/1/1075/8806/t/2/assets/big-bg.png);
    background-size: cover;
    background-position: center;
  }
  h1.h2 {
    font-size: 3em;
  }
</style>
  <div class="password-page__wrapper">

    <header class="password-page__header" role="banner">
      <div class="password-page__header__inner">
        {% comment %}
        Link to password modal
        {% endcomment %}
        <p class="password-login text-right small--text-center">
          <a href="#pword">

            {{ 'general.password_page.password_link' | t }}
          </a>
        </p>

        {% comment %}
        Site name or logo
        {% endcomment %}
        <div class="password-page__logo">
          {% if settings.logo_use_image %}
          <img class="logo" src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
          {% else %}
          <h1 class="h2">
            <span>{{ shop.name }}</span>
          </h1>
          {% endif %}
        </div>

      </div>

    </header>

    <div class="password-page__main" role="main">

      <div class="password-page__main__inner">

        {% comment %}
        Opening soon text
        {% endcomment %}
        <h2 class="password-page__hero">{{ 'general.password_page.opening_soon' | t }}</h2>

        {% comment %}
        Password message which you can edit on http://www.shopify.com/admin/online_store/preferences
        {% endcomment %}

        {% unless shop.password_message == blank %}
        <div class="password-page__message">
          {{ shop.password_message }}
        </div>
        <hr class="hr--small">
        {% endunless %}

        {% comment %}
        Signup form
        {% endcomment %}

        <div class="password-page__signup-form">
          {% form 'customer' %}
          <p class="h5">{{ 'general.password_page.signup_form_heading' | t }}</p>
          {{ form.errors | default_errors }}
          {% if form.posted_successfully? %}
          <p class="form-success">{{ 'general.password_page.signup_form_success' | t }}</p>
          {% else %}
          <input type="hidden" name="contact[tags]" value="prospect, password page">
          <label for="email" class="hidden-label">{{ 'general.password_page.signup_form_email_label' | t }}</label>
          <div class="input-group">
            <input type="text" name="contact[email]" id="email" class="input-group-field" placeholder="{{ 'general.password_page.signup_form_email_placeholder' | t }}" autofocus>
            <span class="input-group-btn">
              <button type="submit" class="btn icon-fallback-text" name="commit" id="subscribe">
                <span class="icon icon-check" aria-hidden="true"></span>
                <span class="fallback-text">{{ 'general.password_page.signup_form_submit' | t }}</span>
              </button>
            </span>
          </div>
          {% endif %}
          {% endform %}
        </div>

        {% comment %}
        Share homepage URL
        Shared text is from the store meta description
        {% endcomment %}

      </div>

    </div>

  </div>
  <div class="password-page__wrapper" id="pword">
    <p class="h4">{{ 'general.password_page.login_form_heading' | t }}</p>
    {% form 'storefront_password' %}
    {{ form.errors | default_errors }}
    <label for="password" class="hidden-label">{{ 'general.password_page.login_form_password_label' | t }}</label>
    <div class="input-group">
      <input type="password" name="password" id="password" class="input-group-field" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}" autofocus>
      <span class="input-group-btn">
        <button type="submit" name="commit" class="btn">
          <span class="password-page__login-form__submit-text--large">{{ 'general.password_page.login_form_submit' | t }}</span>
        </button>
      </span>
    </div>
    {% endform %}
    <p class="admin-login">{{ 'general.password_page.admin_link_html' | t }}</p>
  </div>

  {{ 'shop.js' | asset_url | script_tag }}
  {{ 'magnific-popup.min.js' | asset_url | script_tag }}

  <script>
    $(function() {
      $('.js-toggle-login-modal').magnificPopup({
        type: 'inline',
        mainClass: 'mfp-fade',
        closeOnBgClick: false,
        closeBtnInside: false,
        closeOnContentClick: false,
        tClose: '{{ "general.password_page.close" | t }}',
        removalDelay: 500,
        callbacks: {
        open: function() {
        window.setTimeout( function() { document.getElementById('password').focus(); }, 50 );
    },
      close: function() {
      window.setTimeout( function() { document.getElementById('email').focus(); }, 50 );
    }
    }
    });
    if ( $('.storefront-password-form .errors').size() ) {
      $('.js-toggle-login-modal').click();
    }
    });
  </script>



</body>
</html>
